.color-primary{
    color: $color-1;
}
.color-primary-bg{
    background-color: $color-1;
}
.color-second{
    color: $color-2;
}
.color-second-bg{
    background-color: $color-2;
}
.color-third{
    color: $color-3;
}
.color-third-bg{
    background-color: $color-3;
}
.color-fourth{
    color: $color-4;
}
.color-fourth-bg{
    background-color: $color-4;
}