.font-logo{
    font-family: $font-logo;
}
.font-titre{
    font-family: $font-titre;
}
.font-generale{
    font-family: $font-generale;
}

.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-20{
    font-size: 20px;
}